.home{
    height: 100vh;
    width:100%;
    background-color: #5A5E81;
}
.home--header{
    height: 8rem;
    width:100%;
    display: flex;
    background-color: rgb(26,25,60);

}
.home--header--icon{
   color: rgb(115,140,184);
    transform: scale(4.8);
    margin-left: 3%;
    margin-top: 4rem;

}
.home--header--text{
    font-size: 35px;
    font-weight: bold;
    color: rgb(115,140,184);
    margin-top: 5rem;
    margin-left: 2.5%;
}
.home--body{
    display: flex;
    height: 80vh;
    width:100%;
}
.home--body--left{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.home--body--left--button{
    height: 6.5rem;
    width:100%;
    border-radius: 50px;
    background-color: rgb(44,44,89);
 display: flex;
    align-items: center;
    gap: 50px;
}
.home--body--left--button:hover{
    background-color: rgb(43,45,77);
}
.home--body--left--button--icon{
    color:rgb(90,94,129);
    transform: scale(2.8);
    margin-left: 10%;
}
.home--body--left--button--text{
    font-size: 33px;
    font-weight: bold;
    color: rgb(90,93,132);
}
.home--body--right{
background-color: rgb(216,218,231);
    height: 87vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration: none;
    height: 6.5rem;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(44,44,89);
    display: flex;
    align-items: center;
    gap: 50px;
}
.n{
    height: 100ch;
    width: 100ch;
    background-color: #5A5E81;
}

